
.contenedor {
    display: block;
    margin: 0px;
    padding: 0px;
}
/* .home {
    margin-top: 20px;
    padding: 50px;
} */

/* @media (max-width: 768px) { 
    .home {
        margin: 20px;
    }
}
@media (max-width: 520px) { 
    .home {
        margin: 10px;
    }
} */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}
h1 {
    color: #0096c7;
    margin: 0px;
    padding: 0px;
}

h1 span {
    color: #00b4d8;
}

.allProducts {
    display: flex;
    flex-wrap: wrap;
}

/* @media (max-width: 520px) { 
    .allProducts {
        flex-direction: column;
    }
} */

/* divSearch */
.divSearch {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0px 20px;
}

form .divInputIcon {
    border: 1px solid #0077b6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-top: 2px 2px;
    height: 40px;
}
form .divInputIcon input {
    border: none;
    padding: 0px 0px 0px 10px;
    margin: 2px;
}
input[type=text]:focus {
    outline: none;
}

.divSearch .icon {
    cursor: pointer;
    font-size: 30px;
    padding: 0px 10px 0px 0px;
}

.cart {
    cursor: pointer;
    color: #0077b6;
    font-size: 40px;
}
.cart:hover {
    color: #03045e;
}
form .icon:hover, form .icon:active {
    color: #a2d2ff;
}

/* Footer */
footer {
    background-color: #005f73;
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding: 30px 0px 0px 0px;
    list-style: none;
}

@media (min-width: 530px) { 
    footer ul {
        flex-direction: row;
    }
}

footer ul li {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

footer li a {
    color: black;
}
.divCopyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCopyright p {
    margin-bottom: 10px;
}
/* .inputSearch {
    border-radius: 5px;
    border: 0.8px solid black;
    height: 40px;
    width: 200px;
} */
