

<div class="contenedor animate__animated animate__fadeIn animate__faster">
    <!-- <h1 class="text text-info">Agregar Categori</h1>
    <hr> -->

    <form [formGroup]="myform" #bodyForm (ngSubmit)="passBody()" autocomplete="off">

        <!-- Name field -->
        <label>Nombre</label>
        <input type="name"
               formControlName="name"
               placeholder="Nombre Categoria"
        >
        <span class="form-text text-danger"
              *ngIf="validField('name')"
        >debe establecer un nombre</span>

        <button class="btn btn-primary prod"
                [disabled]="myform.invalid"
        >Agregar Categoria</button>

    </form>


</div>

<!-- *[ngIf]="userAuthenticated.role === 'ADMIN_ROLE' " -->